<script>
	import { browser } from '$app/environment';
	import { onMount } from 'svelte';
	let src = 'https://create.roblox.com/docs/education/coding-1/object-properties'

</script>

## Lesson 6. - Object properties
<br>

<div id="PlaceToPutTable"></div>
<iframe id="iframe" {src}
style="display:hidden;height: 600px;"
class="w-full h-screen"
></iframe>


