<script>
	// import { Chart } from "../components/Chart.svelte";
</script>

## Create Roblox account
If you need help, click here: [link](https://assets.contentstack.io/v3/assets/bltc2ad39afa86662c8/bltfcbd8eeba14b5e93/61324f38cc95cf70fa047ddb/Roblox_Account_Creation_(Student_Handout).pdf)
<br/>

## Download Roblox Client
Click on this link: https://www.roblox.com/ 
<br/>

## Download Roblox Studio
Click on this link: https://www.roblox.com/create and press `Start Creating`


