<script>
	import { browser } from '$app/environment';
	import { onMount } from 'svelte';
	let src = 'https://create.roblox.com/docs/education/intro-to-studio/project-intro-and-file-set-up'

</script>

## Lesson 4. - Polishing and Sharing
<br>

<div id="PlaceToPutTable"></div>
<iframe id="iframe" {src}
style="display:hidden;height: 600px;"
class="w-full h-screen"
></iframe>


